@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   height: 100%;
   font-family: "Roboto", Sans-Serif;
  
} 
.heading{
  border: black solid 2px;
  height: 3.8rem;
  display: grid;
  text-align: center;

}

#ticTacToe{
/* Targets Heading of Page */
}

#playerStatusContainer{
display: grid;

}

#playerOneDisplay{
  grid-column-start: 0;
  grid-column-end: 3;
  text-align: center;
}



#playerTwoDisplay{
  grid-column-start: 8;
  grid-column-end: 11;
  text-align: center;
}

.container{
  border: black solid 2px;
  display: grid;
  grid-template-areas: 
  "grid-box0 grid-box1 grid-box2"
  "grid-box3 grid-box4 grid-box5"
  "grid-box6 grid-box7 grid-box8";
}
.grid-box0{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box0";
}
.grid-box1{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box1";
}
.grid-box2{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box2";
}
.grid-box3{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box5";
}
.grid-box4{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box4";
}
.grid-box5{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box5";
}
.grid-box6{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box6";
}
.grid-box7{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box7";
}
.grid-box8{
  border: black solid 2px;
  height: 5.8rem;
  text-align: center;
  grid-area: "grid-box8";
}



  .grid-box:hover{
    background: grey;
    opacity: 10;
    
  }
